* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* home section */
#home {
    height: 100vh;
}

header {
    display: flex;
    flex-basis: 100%;
}

.logo {
    height: 10vh;
    flex-basis: 20%;
    border-radius: 10px;
    line-height: 10vh;
    margin: 10px;
}

.logo h1 {
    font-size: 40px;
    display: flex;
    text-align: center;
    align-self: center;
    color: rgb(245, 27, 100);
}

.logo h1 b {
    font-size: 30px;
    color: rgb(44, 15, 59);
}

.menu {
    height: 10vh;
    flex-basis: 80%;
    border-radius: 10px;
    line-height: 10vh;
    margin: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

.menu ul li {
    margin: 0% 2% 0% 5%;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(44, 15, 59);
    font-size: 20px;
    font-weight: 600;
}

.menu ul li a:hover {
    color: rgb(245, 27, 100);
}

.hero {
    display: flex;
    flex-basis: 100%;
    height: 90vh;
}

.left1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(221, 132, 132, 0);
    flex-basis: 50%;
    border-radius: 10px;
    margin: 0px 10px 30px 10px;
    justify-content: center;
}

.left1 h1 {
    align-self: center;
    font-size: 40px;
    margin: -100px 0px 30px 0px;
    color: rgb(34, 14, 14);
}

.left1 h2 {
    font-size: 40px;
    margin-bottom: 20px;
    align-self: center;
    color: rgb(245, 27, 100);
}

.left1 p {
    padding: 30px;
    align-self: center;
    color: rgb(16, 14, 14);
}

.left1 button {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 50px 0px 0px 50px;
    background: linear-gradient(to right, rgba(68, 13, 58, 0.942), rgb(246, 6, 110));
}

.left1 button a {
    color: white;
    text-decoration: none;
}

.left2 {
    height: 100vh;
    background-color: rgba(232, 100, 100, 0);
    flex-basis: 50%;
    border-radius: 10px;
    margin: 0px 10px 30px 10px;
}

.left2 img {
    margin-left: 30%;
    border-radius: 30px;
    animation-name: moveimg;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 0s;
    position: relative;
    animation-direction: alternate-reverse;
}

@keyframes moveimg {
    0% {
        transform: rotate(45deg);
        left: 0px;
        top: 0px;
    }

    100% {
        transform: rotate(45deg);
        left: 0px;
        top: 200px;
    }
}

.hero h1 {
    text-align: center;
    align-self: center;
}

/* features section */
.fea-title {
    background-color: rgb(231, 46, 108);
    height: 10vh;
    flex-basis: 100%;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    line-height: 10vh;
}

.fea-title h1 {
    text-align: center;
}

#features {
    display: flex;
    flex-basis: 100%;
    height: 100vh;
}

#features img {
    margin: 20px 50px 0px 50px;
}

.f1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px 10px 100px 10px;
    box-shadow: 10px 10px 10px black;
}

.f1 h2 {
    padding-top: 30px;
    text-align: center;
}

.f1 p {
    padding: 20px 90px 50px 90px;
}

.f1 button {
    padding: 10px 50px 10px 50px;
    align-self: center;
    color: white;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(68, 13, 58, 0.942), rgb(246, 6, 110));
}

/* about section */
#about {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100vh;
   margin: 50px 0px 50px 0px;
}

.abt-title {
    background-color: rgb(231, 46, 108);
    height: 10vh;
    flex-basis: 100%;
    border-radius: 10px;
    margin: 50px 10px 10px 10px;
    line-height: 10vh;
}

.abt-title h1 {
    text-align: center;
}

.abt {
    display: flex;
}
.abt1 img {
    margin-left: 30%;
    border-radius: 30px;
    animation-name: moveimg;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 0s;
    position: relative;
    animation-direction: alternate-reverse;
}

@keyframes moveimg {
    0% {
        transform: rotate(-45deg);
        left: 0px;
        top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        left: 0px;
        top: 200px;
    }
}

.abt1 {
    height: 100vh;
    flex-basis: 49%;
    margin: 0px 10px 30px 10px;
}

.abt2 {
    height: 100vh;
    flex-basis: 49%;
    border-radius: 10px;
    margin: 0px 0px 30px 10px;
}

.abt2 a {
    text-decoration: none;
}

.abt2 h1 {
    color: rgb(245, 27, 100) ;
    font-size: 40px;
    align-items: flex-start;
    padding: 50px 0px 50px 50px;
}

.abt2 p {
    font-size: 20px;
    align-items: flex-start;
    padding-left: 50px;
}

.abt2 button {
    cursor: pointer;
    display: flex;
    margin: 50px 50px 50px 50px;
    text-align: center;
    padding: 10px 40px 10px 40px;
    align-self: center;
    color: white;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(68, 13, 58, 0.942), rgb(246, 6, 110));
}

.abt2 button b {
    text-align: center;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
}

/* review section */
#review {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100vh;
    margin-bottom: 50px;
}

.pr-rev {
    display: flex;
}

.rev-title {
    background-color: rgb(231, 46, 108);
    height: 10vh;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    line-height: 10vh;
    text-align: center;
}

.per h2 {
    padding: 10px;
    color: rgb(245, 27, 100);
    text-align: center;
}

.per {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    height: 70vh;
    flex-basis: 28%;
    border-radius: 10px;
    margin: 50px 50px 30px 50px;
}

.per-img {
    align-self: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    background-color: blueviolet;
    border-radius: 600px;
}

.rateing {
    align-self: center;
}

.rateing input {
    margin: 5px;
}
.per p {
    padding: 50px;
}

/* pakage section */
#pricing {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.pri-cing {
    display: flex;
    height: 85vh; 
}

.pri-title {
    background-color: rgb(231, 46, 108);
    height: 10vh;
    flex-basis: 100%;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    line-height: 10vh;
}

#pricing h1 {
    text-align: center;
}

.pri {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    height: 60vh;
    flex-basis: 28%;
    border-radius: 10px;
    margin: 70px 50px 70px 50px;
    justify-content: space-evenly;
}
.pri button {
    align-self: center;
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(68, 13, 58, 0.942), rgb(246, 6, 110));
}
.pri b{
    color: rgb(231, 46, 108);
    font-size: 30px;
    text-align: center;
}
.details li{
    font-size: 20px;   
list-style: none;
text-align: center;
}
.pri h1{
    font-size: 40px;
    color: rgb(77, 13, 86);
}
/* contact section */
#contact {
    display: flex;
    flex-basis: 100%;
    height: 100vh;
    margin-top: 20px;
}

.cont-img img {
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 0px 10px 0px 10px;
}
.form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.cont-title {
    background-color: rgb(231, 46, 108);
    height: 10vh;
    border-radius: 10px;
    margin: 0px 20px 0px 10px;
    line-height: 10vh;
}

#contact h1 {
    text-align: center;
}

.form-pattern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 20px 0px 10px;
    flex-basis: 100%;
}
form{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 50px 30px 50px;
}
input{
    border: none;
    border-bottom: 2px solid black;
    padding: 20px 20px 20px 20px;
}
input ::placeholder{
    color: black
}
label{
    padding: 10px;
    font-size: 15px;
}
form button{
    margin-top: 50px;
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
   align-self: flex-start;
    background: linear-gradient(to right, rgba(68, 13, 58, 0.942), rgb(246, 6, 110));
}